*{
    margin: 0;
    padding: 0;
}
.headercont{
    width: 99.2vw;
    height: 8vh;
padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
}
.header-title{
    font-size: 25px;
}
.header-profile-cntainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

}